doctype html
html
  head
    title Saswati's Dance Academy 

    style
      include ../static/style.css
  body
    nav#navbar.top 
        ul  
          div#logo
            img(src='/static/img_logo.jpg')
            | SDA

          li #[a(href="/") Home] 
          li #[a(href="/") About] 
          li #[a(href="/") Class Info] 
          li #[a(href="/") Services ]
          li #[a(href="/contact") Contact]
    section#introSection
        div Welcome to Saswati's Dance Academy 
        div.small Eat, Sleep, Dance and Repeat
    section#missionSection 
        h2 Our Mission
        div.card
          h3 Dance like a dream!
          div.card-box
            div.card-img
              img(src='/static/img_22.jpg')
            div.card-content
              p This is one of the finest dance Academies across the globe.
        div.card
          h3 Perfection and elegance comes with practice
          div.card-box
            div.card-img
              img(src='/static/img_22.jpg')
            div.card-content
              p This is one of the finest dance Academies across the globe.
        div.card
          h3 World class teaching
          div.card-box
            div.card-img
              img(src='/static/img_22.jpg')
            div.card-content
              p This is one of the finest dance Academies across the globe.
    section#sponsersSection 
        h2 Our Sponsers
        div#sponsers
          img(src="/static/logo1.jpg", alt="Sponser Image", class="SpImg")
          img(src="/static/logo2.png", alt="Sponser Image", class="SpImg")
          img(src="/static/logo3.png", alt="Sponser Image", class="SpImg")
          img(src="/static/logo4.png", alt="Sponser Image", class="SpImg")
    footer#footer 
        |Copyright &#169 2021 SaswatiDanceAcademy. All Rights Reserved.
    script
      include ../static/index.js